%div.row
  %p.profiles_social
    %a{:href => 'https://www.instagram.com/azyza_online/', :target => '_blank'}= image_tag 'icons/i.png', class:"img-circle", size: "27x27"
    %a{:href => 'https://www.youtube.com/channel/UCtmKmlSUitnJCiXHPrMHj6Q', :target => '_blank'}= image_tag 'icons/y.png', class:"img-circle", size: "27x27"
    %a{:href => 'https://www.facebook.com/artistAzyza', :target => '_blank'}= image_tag 'icons/f.png', class:"img-circle", size: "27x27"