.container
 .gallery-feed
  .col-xs-12.col-sm-12.col-md-8.col-lg-8#faq
   %blockquote
    %p
     %quest Откуда ты и где живешь?
    %p
     %answer Я родилась и выросла в Тольятти, Самарская область. На данный момент проживаю в Санкт-Петербурге.
   %blockquote
    %p
     %quest Где ты училась? У тебя художественное образование?
    %p
     %answer Я училась в Поволжском Государственном Университете Сервиса. Факультет Дизайна и Прикладного Искусства. Специальность Художник прикладного искусства (резчик по дереву).
   %blockquote
    %p
     %quest Какими материалами ты пользуешь в своих работах?
    %p
     %answer Я работаю в смешенных техниках, поэтому набор творческих инструментов у меня широкий. В основном пишу акрилом любой марки. Для графики использую линеры Sakura, недавно появились спиртовые маркеры Finecolour. В своих работах так же использую сусальное золото, аппликации, бисер, металлическую фурнитуру.
     %answer В линогравюре пользуюсь красками  Charbonnel, резаками Татьянка и линолеумом Горизонт.
   %blockquote
    %p
     %quest Как ты относишься к сотрудничеству с другими иллюстраторами, художниками и творческими людьми?
    %p
     %answer Я рада новым возможностям, которое несут с собой знакомства с креативными людьми. Если у вас есть интересный проект или вы просто хотите обменяться опытом я всегда рада. Пиши мне!
   %blockquote
    %p
     %quest Купить картину, постер, иллюстрацию.
    %p
     %answer Пока что полноценный магазин находиться в разработке, вы можете перейти в мою группу в вКонтакте
     %a{:href => "https:/vk.com/azyza", :target => "_blank"} AZYZA
     %answer и выбрать в разделе товаров все, что вам понравится.
   %blockquote
    %p
     %quest О работе на заказ.
    %p
     %answer Вы можете заказать у меня картину на свободную тему или выбрать из имеющихся у меня готовых графических работ. В целом для понимания, я могу придумать картину с нуля или переработать любой эскиз в живописную работу, в любой цветовой палитре и с учетом Ваших пожеланий. 
     %br
     %answer Для получения полной информации напишите мне письмо на почту, и я вышлю Вам условия работы на заказ.
   %blockquote
    %p
     %quest Мастер классы.
    %p
     %answer Я провожу несколько мастер классов. Линогравюра, декоративная живопись, планета. Подробнее о них Вы можете узнать в моей группе в вконтакте
     %a{:href => "https:/vk.com/azyza", :target => "_blank"} AZYZA.
  .col-xs-12.col-sm-12.col-md-4.col-lg-4
   %div#faq-img
    %img(src="images/foto_me.jpg")
    %p.text-center Меня зовут Олеся.
    %p.text-center Я рисую картины, режу линагравюру, печатаю открытки и постеры. Добро пожаловать на мой сайт.
    %hr
   %img{:src => "images/inst.png", :id => "faq-img-inst"}
    #content-slider
     #slider
      #mask
       %ul
        %li#first.firstanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/1.jpg"}
        %li#second.secondanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/2.jpg"}
        %li#third.thirdanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/3.jpg"}
        %li#fourth.fourthanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/4.jpg"}
        %li#fifth.fifthanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/5.jpg"}
        %li#sixth.sixthanimation
         %a{:href => "https://www.instagram.com/azyza_online/", :target => "_blank"}
          %img{:alt => "", :src => "images/slider/6.jpg"}