@font-face {
  font-family: mainfont;
  src: font-url(font-path('main.ttf'));
}
$main-font: 1.6em/1.1 mainfont;
$main-font-faq: 1.6em/1.1 Georgia;
#faq blockquote {
  margin-bottom: 15px;
  p {
    a{
      -moz-text-decoration-style: dotted;
      -webkit-text-decoration-style: dotted;
      font-family: $main-font;
      text-decoration: underline;
      text-decoration-style: dotted;
      color: #000;
      &:hover {
        color: #fff;
      }
    }

    margin-top: 5px;
    quest{
      font: $main-font-faq;
      font-size: 18px;
      font-style: oblique;
      margin-top: 50px;
    }
    answer{
      font: $main-font-faq;
      font-size: 13px;
      font-style: oblique;
    }
  }
}
#faq-img img{
  position: relative;
  display: block;
}
#faq-img hr{
  width: 320px;
}
#faq-img p{
  font: $main-font-faq;
  font-size: 13px;
  font-style: oblique;
  margin-top: 10px;
}
#faq-img #faq-img-inst{
  width: 50%;
  height: 50%;
  position: relative;
  left: 88px;
  margin-bottom: -30px;
}

/*Slider on FAQ page. source https://habrahabr.ru/post/143025/ */
#slider a  {
  color: #000;
  transition: color 0.7s ease-in 0.3s;
}

#slider a:hover {
  color: #fff;
}

div {
  animation: move 1s ease-in-out 0.5s 2 alternate;
  -moz-animation: move 1s ease-in-out 0.5s 2 alternate;
  -webkit-animation: move 1s ease-in-out 0.5s 2 alternate;
}

#slider {
  background: #000;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  height: 330px;
  width: 320px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

#mask {
  overflow: hidden;
  height: 320px;
}

#slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

#slider li {
  width: 340px;  /* Ширина изображения */
  height: 320px; /* Высота изображения */
  position: absolute;
  top: -325px;	/* Исходное положение  (за пределами слайдера) */
  list-style: none;
}

#slider li.firstanimation {
  animation: cycle 20s linear infinite;
}

#slider li.secondanimation {
  animation: cycletwo 20s linear infinite;
}

#slider li.thirdanimation {
  animation: cyclethree 20s linear infinite;
}

#slider li.fourthanimation {
  animation: cyclefour 20s linear infinite;
}

#slider li.fifthanimation {
  animation: cyclefive 20s linear infinite;
}

#slider li.sixthanimation {
  animation: cyclefive 20s linear infinite;
}

/* Анимация */

@keyframes cycle {
  0%  { top: 0px; } /* При запуске слайдера, первое изображение уже видимо */
  4%  { top: 0px; } /* Стартовая позиция */
  16% { top: 0px; opacity:1; z-index:0; } /* С 4% до 16 % (3 секунды) изображение видимо */
  20% { top: 325px; opacity: 0; z-index: 0; } /* с 16% до 20% (1 секунды)выход изображения*/
  21% { top: -325px; opacity: 0; z-index: -1; } /* Возвращение на исходную позицию за пределами маски */
  92% { top: -325px; opacity: 0; z-index: 0; }
  96% { top: -325px; opacity: 0; } /* С 96% до 100% (1 секунда) – вход */
  100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
  0%  { top: -325px; opacity: 0; } /* Исходная позиция за пределами маски */
  16% { top: -325px; opacity: 0; }/* Начало движения с 16% */
  20% { top: 0px; opacity: 1; }
  24% { top: 0px; opacity: 1; }  /* С 20% до 24% (в течении 1 секунды) — вход*/
  36% { top: 0px; opacity: 1; z-index: 0; }   /* С 24% до 36 % (3 секунды) изображение видимо */
  40% { top: 325px; opacity: 0; z-index: 0; } /* С 36% до 40% (1 секунда)— выход */
  41% { top: -325px; opacity: 0; z-index: -1; }   /* Возврат на исходную позицию */
  100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
  0%  { top: -325px; opacity: 0; }
  36% { top: -325px; opacity: 0; }
  40% { top: 0px; opacity: 1; }
  44% { top: 0px; opacity: 1; }
  56% { top: 0px; opacity: 1; }
  60% { top: 325px; opacity: 0; z-index: 0; }
  61% { top: -325px; opacity: 0; z-index: -1; }
  100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
  0%  { top: -325px; opacity: 0; }
  56% { top: -325px; opacity: 0; }
  60% { top: 0px; opacity: 1; }
  64% { top: 0px; opacity: 1; }
  76% { top: 0px; opacity: 1; z-index: 0; }
  80% { top: 325px; opacity: 0; z-index: 0; }
  81% { top: -325px; opacity: 0; z-index: -1; }
  100%{ top: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
  0%  { top: -325px; opacity: 0; }
  76% { top: -325px; opacity: 0; }
  80% { top: 0px; opacity: 1; }
  84% { top: 0px; opacity: 1; }
  96% { top: 0px; opacity: 1; z-index: 0; }
  100%{ top: 325px; opacity: 0; z-index: 0; }
}
@keyframes cyclesix {
  0%  { top: -325px; opacity: 0; }
  76% { top: -325px; opacity: 0; }
  80% { top: 0px; opacity: 1; }
  84% { top: 0px; opacity: 1; }
  96% { top: 0px; opacity: 1; z-index: 0; }
  100%{ top: 325px; opacity: 0; z-index: 0; }
}

/* End Slider. */